# Data Science Tools and Ecosystems

###### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Python
* Scala
* Julia
* Java
* JavaScript
* SQL
* Ruby
* Go
* Visual Basic

### Some of the popular languages that Data Scientists use are:

```
1. Python 
2. R
3. SQL
```

### Some of the commonly used libraries used by Data Scientists include:```
1. Numpy
2. Matplolib
3. Pandas
4. Scikit-learn
```

| Data Science Tools |
|------------------------------|
| Hadoop Distributed File System(HDFS) |
| Apache Spark SQL |
| Relational DataBases |
-----------------------------------------

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#  This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [7]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Dina